language: php

php:
  - '7.1'

cache:
  directories:
    - $HOME/.composer/cache

install:
  - composer update --prefer-dist --no-interaction --prefer-stable --no-suggest

script:
  - vendor/bin/phpunit
