{{ define "main" }}
    <div class="container small center">
        {{ partial "menu_button.html" . }}

        <h1>{{ .Title }}</h1>
        <h2 class="subtitle">{{ .Description }}</h2>
        {{ .Content }}

        <div class="clearfix"></div>
        <div class="navigate-links">
            {{ if .Params.previous }}
                <a href="/{{ .Params.previous }}" title="Previous" id="prev-link" class="prev-link">
                    <div class="icon">{{ readFile "static/cheveron-outline-left.svg" | safeHTML }}</div>
                    Previous
                </a>
            {{ end }}
            {{ if .Params.next }}
                <a href="/{{ .Params.next }}" title="Next" id="next-link" class="next-link">
                    Next
                    <div class="icon">{{ readFile "static/cheveron-outline-right.svg" | safeHTML }}</div>
                </a>
            {{ end }}
        </div>
    </div>
    {{ partial "menu_modal.html" . }}
{{ end }}
