@import "prismjs/themes/prism-solarizedlight.css";

$primary-color: #2AA198;
$primary-color-dark: #1D6E68;
$white: #FFF;
$drop-shadow: rgba(0, 0, 0, 0.4);
$code-background: #FDF6E3;

body {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 16px;
    padding-top: 1em;
    padding-bottom: 1em;
}
pre, code {
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    font-size: 14px;
    margin: 0 !important;
    border-radius: 0 !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
a {
    color: $primary-color; /* #4078f2 */
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
    color: $primary-color-dark;
}
hr {
    border: 0;
    height: 1px;
    background-color: #EEE;
    margin: 0.5em 0;
}
p {
    line-height: 1.5;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
}
ol {
    padding-left: 1em;
}
h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}
h1 {
  margin-top: 0;
  font-size: 2.441em;
}
h2 {font-size: 1.953em;}
h3 {font-size: 1.563em;}
h4 {font-size: 1.25em;}
small, .font_small {font-size: 0.8em;}
button {
    font-size: 1em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    color: $primary-color;
}
button:hover {
    color: $primary-color-dark;
}
button:focus {
    outline: 0;
}
button .icon {
    vertical-align: middle;
}
button .icon svg {
    fill: $primary-color;
}
button:hover .icon svg {
    fill: $primary-color-dark;
}
.button {
    background-color: $primary-color;
    color: $white;
    padding: 0.5em 1em;
    border-radius: 1em;
}
.button:hover {
    color: $white;
    background-color: $primary-color-dark;
    text-decoration: none;
}
.button .icon {
    vertical-align: middle;
}
.button .icon svg {
    fill: $white;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    max-width: 1050px;
}
.container.small {
    max-width: 750px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.right {
    float: right;
}
.doc {
    padding: 0.5em 0;
    line-height: 1.2;
}
.subtitle {
    margin-top: 0;
}
.description {
    max-width: 25em;
}
.list-plain {
    list-style: none;
    padding-left: 0;
}
.body-ol li {
    padding: 0.5em 0;
}
.grid-code {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-column-gap: 3em;
}
.grid-code .code {
    background-color: $code-background;
}
.grid-toc {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 1em;
}
.navigate-links {
    margin: 1em 0;
    float: right;
}
.navigate-links .icon {
    vertical-align: middle;
}
.navigate-links .icon svg {
    fill: $primary-color;
}
.navigate-links:hover .icon svg {
    fill: $primary-color-dark;
}
.navigate-links a {
    margin-left: 1em;
}
.navigate-links a:hover {
    text-decoration: none;
}
.table-of-contents h4 {
    margin-top: 0;
}
.table-of-contents ol {
    margin: 1em 0;
}
.table-of-contents .section-title {
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 1em;
}
.icon {
    width: 1em;
    display: inline-block;
}
.home-title {
    text-align: center;
}
.home-subtitle {
    text-align: center;
    margin-top: 0;
    grid-column-start: 2;
    grid-column-end: 3;
}
.home-logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 100px;
    margin-bottom: 0.5em;
}
.home-logo svg {
    width: 150px;
    height: 100px;
}
.menu {
    margin-bottom: 1.5em;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}
.modal-content {
    display: block;
    position: relative;
    padding: 1em;
    background-color: $white;
    max-width: 20em;
    height: 100%;
    animation-name: animateleft;
    animation-duration: .4s;
    overflow: scroll;
    box-shadow: 0 0 10px 0 $drop-shadow;
    box-sizing: border-box;
}
.modal-content .table-of-contents {
    padding: 2em;
}
.closed {
    display: none;
}
@keyframes animateleft {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}
.logo-404 {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    display: block;
}
.logo-404 svg {
    max-width: 200px;
    max-height: 200px;
}
.toc-404 {
    max-width: 250px;
    margin: 0 auto;
}
.message-404 {
    font-size: 2em;
    margin: 0 auto;
    text-align: center;
}
