/*
 Solarized Color Schemes originally by Ethan Schoonover
 http://ethanschoonover.com/solarized

 Ported for PrismJS by Hector Matos
 Website: https://krakendev.io
 Twitter Handle: https://twitter.com/allonsykraken)
*/

/*
SOLARIZED HEX
--------- -------
base03    #002b36
base02    #073642
base01    #586e75
base00    #657b83
base0     #839496
base1     #93a1a1
base2     #eee8d5
base3     #fdf6e3
yellow    #b58900
orange    #cb4b16
red       #dc322f
magenta   #d33682
violet    #6c71c4
blue      #268bd2
cyan      #2aa198
green     #859900
*/

code[class*="language-"],
pre[class*="language-"] {
	color: #657b83; /* base00 */
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;

	line-height: 1.5;

	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;

	-webkit-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	background: #073642; /* base02 */
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	background: #073642; /* base02 */
}

/* Code blocks */

pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
	border-radius: 0.3em;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background-color: #fdf6e3; /* base3 */
}

/* Inline code */

:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #93a1a1; /* base1 */
}

.token.punctuation {
	color: #586e75; /* base01 */
}

.namespace {
	opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #268bd2; /* blue */
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.url,
.token.inserted {
	color: #2aa198; /* cyan */
}

.token.entity {
	color: #657b83; /* base00 */
	background: #eee8d5; /* base2 */
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #859900; /* green */
}

.token.function,
.token.class-name {
	color: #b58900; /* yellow */
}

.token.regex,
.token.important,
.token.variable {
	color: #cb4b16; /* orange */
}

.token.important,
.token.bold {
	font-weight: bold;
}

.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}

body {
    font-family: Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
    font-size: 16px;
    padding-top: 1em;
    padding-bottom: 1em;
}

pre, code {
    font-family: Consolas, monaco, monospace;
    font-size: 16px;
    margin: 0 !important;
    border-radius: 0 !important;
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}

a {
    color: #2AA198; /* #4078f2 */
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #1D6E68;
}

p {
    max-width: 40em;
    line-height: 1.5;
}

h1, h2, h3, h4 {
  margin: 1.414em 0 0.5em;
  font-weight: inherit;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  font-size: 2.441em;
}

h2 {font-size: 1.953em;}

h3 {font-size: 1.563em;}

h4 {font-size: 1.25em;}

small, .font_small {font-size: 0.8em;}

button {
    font-size: 1em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    color: #2AA198;
}

button:hover {
    color: #1D6E68;
}

button .icon {
    vertical-align: middle;
}

button .icon svg {
    fill: #2AA198;
}

button:hover .icon svg {
    fill: #1D6E68;
}

.button {
    background-color: #2AA198;
    color: #FFF;
    padding: 0.5em 1em;
    border-radius: 1em;
}

.button:hover {
    color: #FFF;
    background-color: #1D6E68;
    text-decoration: none;
}

.button .icon {
    vertical-align: middle;
}

.button .icon svg {
    fill: #FFF;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 33.75em) {  /* 540px */
    .container {
        width: 80%;
    }
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.right {
    float: right;
}

.doc {
    padding: 0.5em 0;
}

.subtitle {
    margin-top: 0;
}

.description {
    max-width: 25em;
}

.grid-code {
    display: grid;
    grid-template-columns: 400px 1fr;
    grid-column-gap: 3em;
}

.grid-code .code {
    background-color: #FDF6E3;
}

.grid-toc {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 3em;
}

.navigate-links {
    margin: 1em 0;
    float: right;
}

.navigate-links .icon {
    vertical-align: middle;
}

.navigate-links .icon svg {
    fill: #2AA198;
}

.navigate-links:hover .icon svg {
    fill: #1D6E68;
}

.navigate-links a {
    margin-left: 1em;
}

.navigate-links a:hover {
    text-decoration: none;
}

.table-of-contents {
    padding: 2em;
}

.table-of-contents ol {
    margin: 1em 0;
    padding-left: 1em;
}

.table-of-contents .section-title {
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 1em;
}

.icon {
    width: 1em;
    display: inline-block;
}

.home-title-wrapper {
    display: grid;
    grid-template-columns: 175px 1fr;
    grid-template-rows: 1fr 1fr;
}

.home-title {

}

.home-subtitle {
    margin-top: 0;
    grid-column-start: 2;
    grid-column-end: 3;
}

.home-logo {
    grid-row-start: 1;
    grid-row-end: 3;
}

.home-logo svg {
    width: 150px;
    height: 100px;
}

.menu {
    margin-left: 2em;
    margin-bottom: 1em;
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    overflow: auto;
    background-color: rgba(0, 0, 0, .4);
}

.modal-content {
    display: block;
    position: relative;
    padding: 1em;
    background-color: #FFF;
    max-width: 15em;
    height: 100%;
    -webkit-animation-name: animateleft;
            animation-name: animateleft;
    -webkit-animation-duration: .4s;
            animation-duration: .4s;
    overflow: scroll;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

.closed {
    display: none;
}

@-webkit-keyframes animateleft {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}

@keyframes animateleft {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}
