@import "assets/prism-solarized.css";
@import "assets/prism-tomorrow-night.css";

$primary-color: #2AA198;
$primary-color-dark: #1D6E68;
$drop-shadow: rgba(0, 0, 0, 0.4);
$code-highlight: #EDEDED;
$modal-background: #FFF;
$button-text: #FFF;
$hr-color: #EEE;

$dark-background: #222;
$dark-text-color: #CCC;
$dark-primary-color: #cc99cd; /*#7ec699;*/
$dark-primary-color-dark: #8C698C; /*#568769;*/
$dark-button-text: #222;
$dark-code-highlight: #111;
$dark-modal-background: #222;
$dark-drop-shadow: rgba(0, 0, 0, 0.6);
$dark-hr-color: #CCC;

body {
    font-family: Cambria, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
    font-size: 16px;
    padding-top: 1em;
    padding-bottom: 1em;
}
body.dark-mode {
    background-color: $dark-background;
    color: $dark-text-color;
}
button {
    font-family: Cambria, "Lucida Bright", Lucidabright, "Lucida Serif", Lucida, "DejaVu Serif", "Bitstream Vera Serif", "Liberation Serif", Georgia, serif;
}
code {
    background-color: $code-highlight;
    font-family: Menlo, Monaco, Consolas, "Noto Mono", "Liberation Mono", "Courier New", monospace !important;
    font-variant-ligatures: none;
    font-size: 14px !important;
    padding: 0.10em 0.25em;
}
.dark-mode code {
    background-color: $dark-code-highlight;
}
pre, pre code {
    background-color: transparent;
    font-family: Menlo, Monaco, Consolas, "Noto Mono", "Liberation Mono", "Courier New", monospace !important;
    font-variant-ligatures: none;
    font-size: 14px !important;
    margin: 0 !important;
    border-radius: 0 !important;
    padding: 0.5em 0 0.5em 0;
}
a {
    color: $primary-color;
    text-decoration: none;
}
.dark-mode a {
    color: $dark-primary-color;
}
a:hover {
    text-decoration: underline;
    color: $primary-color-dark;
}
.dark-mode a:hover {
    color: $dark-primary-color-dark;
}
hr {
    border: 0;
    height: 1px;
    background-color: $hr-color;
    margin: 0.5em 0;
}
.dark-mode hr {
    background-color: $dark-hr-color;
}
p {
    line-height: 1.5;
    margin-top: 1.5em;
    margin-bottom: 0.75em;
}
ol {
    padding-left: 1em;
}
h1, h2, h3, h4 {
    margin: 1.414em 0 0.5em;
    font-weight: inherit;
    line-height: 1.2;
}
h1 {
    margin-top: 0;
    font-size: 2.441em;
}
h2 {font-size: 1.953em;}
h3 {font-size: 1.563em;}
h4 {font-size: 1.25em;}
small, .font_small {font-size: 0.8em;}
button {
    font-size: 1em;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    padding: 0;
    color: $primary-color;
}
.dark-mode button {
    color: $dark-primary-color;
}
button:hover {
    color: $primary-color-dark;
}
.dark-mode button:hover {
    color: $dark-primary-color-dark;
}
button:focus {
    outline: 0;
}
button .icon {
    vertical-align: middle;
}
button .icon svg {
    fill: $primary-color;
}
.dark-mode button .icon svg {
    fill: $dark-primary-color;
}
button:hover .icon svg {
    fill: $primary-color-dark;
}
.dark-mode button:hover .icon svg {
    fill: $dark-primary-color-dark;
}
.button {
    background-color: $primary-color;
    color: $button-text;
    padding: 0.5em 0.75em;
    border-radius: 2em;
    display: inline-block;
}
.dark-mode .button {
    color: $dark-button-text;
    background-color: $dark-primary-color;
}
.button:hover {
    color: $button-text;
    background-color: $primary-color-dark;
    text-decoration: none;
}
.dark-mode .button:hover {
    color: $dark-button-text;
    background-color: $dark-primary-color-dark;
}
.button .icon {
    vertical-align: middle;
}
.button .icon svg {
    fill: $button-text;
}
.dark-mode .button .icon svg {
    fill: $dark-button-text;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.container {
    max-width: 1050px;
}
.container.small {
    max-width: 750px;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
.right {
    float: right;
}
.doc {
    padding: 0.5em 0;
    line-height: 1.2;
}
.subtitle {
    margin-top: 0;
}
.description {
    max-width: 25em;
}
.list-plain {
    list-style: none;
    padding-left: 0;
}
.body-ol li {
    padding: 0.5em 0;
}
.navigate-links {
    margin: 1em 0;
    float: right;
}
.navigate-links .icon {
    vertical-align: middle;
}
.navigate-links .icon svg {
    fill: $primary-color;
}
.dark-mode .navigate-links .icon svg {
    fill: $dark-primary-color;
}
.prev-link:hover .icon svg,
.next-link:hover .icon svg {
    fill: $primary-color-dark;
}
.dark-mode .prev-link:hover .icon svg,
.dark-mode .next-link:hover .icon svg {
    fill: $dark-primary-color-dark;
}
.navigate-links a {
    margin-left: 1em;
}
.navigate-links a:hover {
    text-decoration: none;
}
.table-of-contents h4 {
    margin-top: 0;
}
.table-of-contents ol {
    margin: 1em 0;
}
.table-of-contents .section-title {
    font-weight: bold;
    font-size: 0.8em;
    margin-top: 1em;
}
.icon {
    width: 1em;
    height: 1.25em;
    display: inline-block;
}
.dark-mode-form {
    float: right;
    padding-left: 1rem;
}
.home-title {
    text-align: center;
}
.home-subtitle {
    text-align: center;
    margin-top: 0;
    grid-column-start: 2;
    grid-column-end: 3;
}
.home-logo {
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 100px;
    margin-bottom: 0.5em;
}
.home-logo svg {
    width: 150px;
    height: 100px;
}
.home-buttons {
    margin-top: 1.5em;
}
.home-buttons .menu {
    display: inline-block;
    padding: 0.5em 0.75em;
}
@media only screen and (max-width: 420px) {
    .home-buttons {
        padding-top: 0.5rem;
        max-width: 15em;
        margin: 0 auto;
    }
    .home-buttons .button {
        text-align: center;
        display: block;
    }
    .home-buttons .menu {
        margin-top: 0.5rem;
        text-align: center;
        display: block;
    }
    .home-buttons .dark-mode-form {
        float: none;
        margin-top: 0.5rem;
    }
}
.menu {
    margin-bottom: 1.5rem;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 50;
    overflow: auto;
    background-color: $drop-shadow;
}
.dark-mode .modal {
    background-color: $dark-drop-shadow;
}
.modal-content {
    display: block;
    position: relative;
    padding: 1em;
    background-color: $modal-background;
    max-width: 20em;
    height: 100%;
    animation-name: animateleft;
    animation-duration: .4s;
    overflow: auto;
    box-shadow: 0 0 10px 0 $drop-shadow;
    box-sizing: border-box;
}
.dark-mode .modal-content {
    background-color: $dark-modal-background;
    box-shadow: 0 0 10px 0 $dark-drop-shadow;
}
.modal-content .table-of-contents {
    padding: 2em;
}
.section-title {
    margin-bottom: 0;
}
.closed {
    display: none;
}
@keyframes animateleft {
    from {left: -300px; opacity: 0}
    to {left: 0; opacity: 1}
}
.logo-404 {
    max-width: 200px;
    max-height: 200px;
    margin: 0 auto;
    display: block;
}
.logo-404 svg {
    max-width: 200px;
    max-height: 200px;
}
.toc-404 {
    max-width: 200px;
    margin: 0 auto;
}
.message-404 {
    font-size: 2em;
    margin: 1em auto;
    text-align: center;
}
