<div class="table-of-contents">
    <h4>Table of Contents</h4>
    <ul class="list-plain">
        <li><a href="/">Preface</a></li>
        <li><a href="/installing-php.html">Installing PHP</a></li>
    </ul>

    <h5 class="section-title">Basics</h5>
    <ol>
        <li><a href="/basics.html">Basics</a></li>
        <li><a href="/variables.html">Variables</a></li>
        <li><a href="/arithmetic.html">Arithmetic</a></li>
        <li><a href="/strings.html">Strings</a></li>
        <li><a href="/comparisons.html">Comparisons</a></li>
        <li><a href="/boolean-logic.html">Boolean Logic</a></li>
        <li><a href="/conditionals.html">Conditionals</a></li>
        <li><a href="/loops.html">Loops</a></li>
        <li><a href="/arrays.html">Arrays</a></li>
        <li><a href="/functions.html">Functions</a></li>
        <li><a href="/classes.html">Classes</a></li>
        <li><a href="/classes-inheritance.html">Classes: Inheritance</a></li>
        <li><a href="/classes-visibility.html">Classes: Visibility</a></li>
        <li><a href="/classes-constructor.html">Classes: Constructor</a></li>
        <li><a href="/static.html">Static</a></li>
        <li><a href="/interfaces.html">Interfaces</a></li>
        <li><a href="/abstract.html">Abstract Classes</a></li>
        <li><a href="/exceptions.html">Exceptions</a></li>
    </ol>

    <h5 class="section-title">Web</h5>
    <ol>
        <li><a href="/web/http.html">HTTP</a></li>
        <li><a href="/web/http-post.html">HTTP POST</a></li>
        <li><a href="/web/http-server.html">PHP HTTP Server</a></li>
    </ol>

    <a href="/credits.html">Credits</a>
</div>
